@section Scripts {
     <script src="~/Scripts/chosen.jquery.js" type="text/javascript"></script>
     <script type="text/javascript"> $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({ allow_single_deselect: true }); </script>
}

@{
    Layout = "~/_SiteMain.cshtml";
    Page.Title = "Peer Exercise Plan";
    if (WebSecurity.CurrentUserName == "")
    {
        Response.Redirect("~/Account/Login");
    }

    // Initialize general page variables
    var exerciseID = "";
    var exerciseName = "";
    var detailExercise = "";
    var video = "";
    var PositionID = 0;
    var userName = WebSecurity.CurrentUserName;
    var userID = WebSecurity.CurrentUserId;
    var picture = "";
    List<dynamic> category = new List<dynamic>();

    
    Response.OutputCache(60);

    if (!UrlData[0].IsInt())
    {
        Response.Redirect("~/Home");
    }

    var plan = UrlData[0].AsInt();
    var roles = (SimpleRoleProvider)Roles.Provider;

    if (roles.GetRolesForUser(userName).Contains("Client"))
    {
        Response.Redirect("~/Premium/ClientHome");
    }
    
    var db = Database.Open("StarterSite");

    var user = db.QueryValue("SELECT [Disabled] FROM UserProfile WHERE LOWER(Email) = LOWER(@0)", userName);

    if (user)
    {
        Response.Redirect("~/Account/Disabled Account");
    }

    var findOwner = db.QuerySingle("SELECT [UserProfile].*, [Plans].[name], [Plans].[Category] FROM [UserProfile] INNER JOIN [Plans] ON [UserProfile].[UserId]=[Plans].[UserId] WHERE [Plans].[id]=@0", plan);

    if (findOwner.Category != null)
    {
        foreach(var item in findOwner.Category.Split(','))
        {
            category.Add(item);   
        }
    }
    
    var data = db.Query("SELECT [Exercise].[id], [Exercise].[name] FROM [Exercise] WHERE [planId]=@0", plan);

    PositionID = data.Count();
    
    if (IsPost)
    {

        exerciseID = Request.Form["hiddenID"];
        
        var exQuery = db.QuerySingle("SELECT * FROM [Exercise] WHERE [id]=@0", exerciseID);

        exerciseName = exQuery.name;
        detailExercise = exQuery.detail;
        video = exQuery.video;
        picture = exQuery.demoImageMIME;  

    }
}

@section featured {
<section class="featured"> 
     <div class="content-wrapper">  
<hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Sharapist: A Network For Therapy</h2>
</hgroup>
 <section id="ExerciseForm"> 
            <form method="post" id="form1" name="form1" enctype="multipart/form-data">
                @if(findOwner.UserId != userID)
                {
                <label>Owner: @findOwner.firstName @findOwner.lastName</label>
                <button type="button" onclick="planBorrow(@plan,@findOwner.UserId)">Borrow Plan?</button>
                }
             <div>
                <ul style="list-style: none;">
                    <li>
                        <label>Plan Name: @findOwner.name</label>
                            <label>Plan Category</label>
                            <select data-placeholder="Category" name="tocat" id="tocat" style="width:500px; list-style: none;" multiple class="chzn-select" tabindex="8">
                    @if(category != null)
                    {
                    foreach(var item in category)
                    {
                      <option id="@item" selected="selected" value="@item">@item</option>  
                    }
                    }
                </select>
                        </li>
                    <li>
            <h2>Available Exercise: </h2>
                        <table>
                            <tr>
                                <th>Exercise</th>
                            </tr>
              @foreach (var exercise in data)
                {
                  <tr>
                      <td>
                         <a href="#" title="@exercise.name" onclick="PopulateExercise(this,@exercise.id)">@exercise.name</a>
                      </td>
                  </tr>
                }
            </table>
                    </li>
                    </ul>
                 </div>
                    <div>
                    <ul style="list-style: none">
                        <li class="ExerciesName">
                <label>Exercise Name: </label>
                <input type="text" id="exerciseName" name="exerciseName" value="@exerciseName" />
                <input type="hidden" id="hiddenID" name="hiddenID" value="@exerciseID" />
                            </li>
                        <li class="Details">
                 <label>Details: </label>
                <textarea name="detailExercise"  id="detailExercise" style="height:150px">@detailExercise</textarea>
                            </li>
                        <li>
                <label>Demonstration: </label>
                            @if (IsPost && picture != null)
                            {
                <img width="400" height="300" src="~/Plan/downloadExerciseImg.cshtml/@exerciseID" alt="Demo Image"  />
                            }
                            else
                            {

                            }
                            </li>
                        <li>
                <label>Video: </label>
                @if (IsPost && video != "")
                {
             
<iframe class="youtube-player" type="text/html" width="500" height="365" src="http://www.youtube.com/embed/@video" frameborder="1">
                </iframe>                 }
                            </li>
                    </ul> 
                             <input hidden="hidden" type="submit" name="btnsubmit" value="Update Exercise" />            
                    </div>
                </form>
        </section>
      </div>
    </section>
    }