@{
    Layout = "~/_SiteClient.cshtml";
    Page.Title = "Use Patient Plan";
    if (WebSecurity.CurrentUserName == "")
    {
        Response.Redirect("~/Account/Login");
    }
    
    // Initialize general page variables
    var userName = WebSecurity.CurrentUserName;
    var userID = WebSecurity.CurrentUserId;
    var roles = (SimpleRoleProvider)Roles.Provider;

    if (!roles.GetRolesForUser(userName).Contains("Client"))
    {
        Response.Redirect("~/Home");
    }
    
    var db = Database.Open("StarterSite");

    var user = db.QueryValue("SELECT [Disabled] FROM UserProfile WHERE LOWER(Email) = LOWER(@0)", userName);

    if (user)
    {
        Response.Redirect("~/Account/Disabled Account");
    }

    var planQue = db.Query("SELECT [PlanPrem].* , [UserProfile].[firstName], [UserProfile].[lastName] FROM [PlanPrem] INNER JOIN [UserProfile] ON [PlanPrem].[therapistId] = [UserProfile].[UserId]  WHERE [PlanPrem].[clientId]=@0", userID).ToList();
           
  }

 
 @section featured {
<section class="featured"> 
     <div class="content-wrapper">  
<hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Sharapist: A Network For Therapy</h2>
</hgroup>
<section id="PlanForm">
        <form method="post" enctype="multipart/form-data">
                <h2>Plans: </h2>
                <table style="max-height: 500px; max-width: 500px">
                    <tr>
                        <th>Is Complete?</th>
                        <th>Plan</th>
                    </tr>
              @foreach (var item in planQue)
                {
                            <tr>
                                @if(item.isComplete)
                                {
                                <td>
                                    <input type="checkbox" checked="checked" name="isComplete" disabled="disabled" /> on @item.timestamp
                                 </td>
                                }
                                else
                                {
                                    <td>
                                        <input type="checkbox" name="isComplete" disabled="disabled" />
                                    </td>
                                }
                                <td>
                        @if (item.PlanImageMIME != null)
                         {
                      <a href="~/Premium/ClientUsePlan/@item.id">
                      <img src="~/Dynamic/downloadPlanImage/@item.id" style=" height: 30px; width: 30px;" value=""  title="@item.name" />
                      </a>
                         }
                       else
                         {
                       <a href="~/Premium/ClientUsePlan/@item.id">
                      <img src="~/Images/QuestionMark.png" title="@item.name" style=" height: 30px; width: 30px; background-size: 30px"  />  
                           </a> 
                         }    
                                    </td>
                                <td>                     
                            <a href="~/Premium/ClientUsePlan/@item.id">@item.name</a>
                                </td>
                                    </tr>
                } 
            </table>
            </form>
    </section>
         </div>
     </section>
        }