@{
    Layout = "~/_SiteClient.cshtml";
    Page.Title = "Profile";
    
    
    var occupation = "";
    var firstname = "";
    var lastname = "";
    var experience = "";
    var about = "";
    var email = "";
    var location = "";
    var company = "";
    var photo = "";

    Response.OutputCache(60);

    var search = UrlData[0].AsInt();
    
    var db = Database.Open("StarterSite");

            // Check if user already exists
   var user = db.QuerySingle("SELECT * FROM UserProfile WHERE [UserId]=@0", search);
            if (user != null) {
               occupation = user.Occupation;
                firstname = user.firstName;
                lastname = user.lastName;
                experience = user.Experience;
                about = user.About;
                email = user.Email;
                photo = user.ProfileImageMIME;
                company = user.Company;
                location = "" + user.City + "," + user.stateProvider;                               
            }
            var products = db.Query("SELECT * FROM Products WHERE [UserId]=@0", search);
         }
@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Sharapist: A Network For Therapy</h2>
        </hgroup>
        <fieldset>
            <legend>Profile Information</legend>
            <ul style="list-style: none">
                @if (photo != null)
                {
                <li>
                    <img style="border:solid; height:200px; width:200px" src="~/Dynamic/PeerImage/@search" alt="" />
                </li>
                }
                else
                {
                    <li>
                    <img style="border:solid; height:200px; width:200px" src="~/Images/DefaultProfile.png" alt="" />
                </li>
                }
                <li>
                <label>Location: @location</label>
                <label>Company/Business: @company</label>
                <label>Occupation: @occupation</label>
                </li>
                <li>
                <label>Experience:</label>
                <p id="experienceText">@experience</p>
                </li>
                <li>
                <label>About Me:</label>
                <p id="aboutText">@about</p>
                </li>
                <li>
                <label>Contact Information:</label>
                <span><a href="mailto:@email">@email</a></span>
                </li>
                </ul>
        </fieldset> 
        
        <div id="productsWrapper">
    <ul id="products" data-role="listview" data-inset="true">
        @foreach (var p in products) {
            <li class="product">
                <a href="~/order/@p.Id" title="Order @p.Name">
                    <img class="hide-from-desktop" src="~/Dynamic/downloadProductImage/@p.id" alt="Image of @p.Name" />
                
                    <div class="productInfo">
                        <h3>@p.Name</h3>
                        <img class="product-image hide-from-mobile" src="~/Dynamic/downloadProductImage/@p.id" alt="Image of @p.Name" />
                        <p class="description">@p.Description</p>
                        <p class="price hide-from-desktop">@string.Format("{0:c}", p.Price)</p>
                    </div>
                </a>

                <!-- Desktop only -->
                <div class="action hide-from-mobile">
                    <p class="price">@string.Format("{0:c}", p.Price)</p>
                    <a class="order-button" href="~/order/@p.Id" title="Order @p.Name">Order Now</a>
                </div>
                 
            </li>
        }
    </ul>        
        </div>
    </section>
        }